---

---

<div
    class="hero-bg pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2 -z-10"
    aria-hidden="true"
></div>

<style>
    .hero-bg {
        background-color: #fff;
        background-image: url("/hero-texture-5.svg");
        background-repeat: repeat-y;
        background-position: top center;
        /* Full viewport width, stretch each tile to screen height */
        background-size: 100vw 100vh;
    }
</style>
